/* ESTILOS GERAIS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --bg-white: #fff;
}
.layout{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
     "sidebar main"
     "sidebar footer";
}
header{
    grid-area: header;
}
aside{
    grid-area: sidebar;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
    width: 100vw;
    grid-column: 1 / -1;
}
header,aside,main,footer{
    border: 1px solid #000;
}

/* ESTILOS DO HEADER */
header{
    width: 100%;
    padding: 20px 0;
    background-color: #808080;
}
header div img{
    width: 50px;
    height: 50px;
}
header div{
    display: flex;
    align-items: center;
    gap: 10px;
}
header h1{
    font-size: 2em;
    color: var(--bg-white);
}

/* ESTILOS DO SIDEBAR */
aside{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #00ffff70;
}
aside h2{
    font-size: 1.5em;
    color: #000;
    margin: 10px 0 0 10px;
}
.container-add-todo-button button,
.container-project-button button{
    background-color: transparent;
    border: none;
    font-size: 1.02em;
}
.container-project-button{
    width: 225px;
    height: 45px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.container-project-button #button-add-project-sidebar{
    display: flex;
    align-items: center;
}
.icon-delete,
.icon-delete-todo,
.add-sign{
    width: 20px;
    height: 20px;
}
aside .container-project-button:hover{
    background-color: #808080a5;
    color: #fff;
}

/* ESTILOS DO MAIN */
main{
    width: 100%;
    padding: 20px;
    background-color: #87ceeb70;
}
.container-form-add-project,
.container-add-todo{
    width: 300px;
    height: 300px;
    border: 2px solid #000;
    border-radius: 10px;
    position: absolute;
}
.container-add-todo{
    top: 150px;
    left: 650px;
}
.container-form-add-project{
    display: none;
    top: 200px;
    left: 300px;
}
.container-add-todo-form,
.form-add-project{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.form-add-project h3,
.container-add-todo-form h3{
    font-size: 1.5em;
    color: #fff;
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 0 0;
    background-color: #808080;
    padding: 15px 0;
}
.form-add-project label,
.container-add-todo-form label{
    font-size: 1.06em;
    font-weight: bold;
}
.form-add-project input,
.container-add-todo-form input{
    height: 30px;
    padding-left: 10px;
}
.container-buttons{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.container-buttons button{
    width: 100px;
    height: 30px;
}
.hidden{
    display: none;
}

/* ESTILO DA TAREFA TAREFAS */
.todo-item{
    justify-content: space-between;
}
.todo-item,
.container-add-todo-button button{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 25px 10px;
    border-radius: 10px;
}
#button-add-project-sidebar::before, 
.container-add-todo-button button::before{
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background: url('./images/sinalAdicionar.png') center / cover no-repeat;
    margin-right: 5px;
 }
.remove-todo{
    border: none;
    background-color: transparent;
}
.container-add-todo-button button{
    text-align: left;
}
.projects h3{
    margin-bottom: 20px;
}
.todo-item:hover, .container-add-todo-button button:hover{
    background-color: #808080;
    color: #fff;
}

/* ESTILOS DO FOOTER */
footer{
    width: 100vw;
    padding: 20px 0;
    background-color: #808080;
    text-align: center;
}
footer address p{
    font-size: 1.03em;
}